<?xml version="1.0"?>
<!--
/**
 * Sofinco Epayment module for Magento
 *
 * Feel free to contact Sofinco at support@paybox.com for any
 * question.
 *
 * LICENSE: This source file is subject to the version 3.0 of the Open
 * Software License (OSL-3.0) that is available through the world-wide-web
 * at the following URI: http://opensource.org/licenses/OSL-3.0. If
 * you did not receive a copy of the OSL-3.0 license and are unable
 * to obtain it through the web, please send a note to
 * support@paybox.com so we can mail you a copy immediately.
 *
 * @version   1.0.11-hmac
 * @author    BM Services <contact@bm-services.com>
 * @copyright 2012-2017 Sofinco
 * @license   http://opensource.org/licenses/OSL-3.0
 * @link      http://www.paybox.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sfco>
            <merchant>
                <environment>TEST</environment>
                <subscription>flexible</subscription>
                <site>1666666</site>
                <rank>16</rank>
                <identifier>7546450</identifier>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted">1999888I</password>
                <hmackey backend_model="Magento\Config\Model\Config\Backend\Encrypted">0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF</hmackey>
                <hmacalgo>SHA512</hmacalgo>
                <min_amount>150</min_amount>
                <max_amount>2000</max_amount>
            </merchant>
            <languages>
                <fr>FRA</fr>
                <es>ESP</es>
                <it>ITA</it>
                <de>DEU</de>
                <nl>NLD</nl>
                <sv>SWE</sv>
                <pt>PRT</pt>
                <default>GBR</default>
            </languages>
            <allowedips>194.2.122.158,195.25.7.166,195.101.99.76,10.48.2.254</allowedips>
        </sfco>
        <payment>
            <sfco_s3xcb>
                <active>1</active>
                <model>Sofinco\Epayment\Model\Payment\S3xcb</model>
                <title>3XCB</title>
                <group>sfco</group>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_use_for_multishipping>1</can_use_for_multishipping>
                <allowspecific>0</allowspecific>
                <cctypes>CB,VISA,EUROCARD_MASTERCARD,E_CARD</cctypes>
                <status_paid>sfco_paid</status_paid>
                <status_authorized>sfco_authorized</status_authorized>
                <payment_action>immediate</payment_action>
                <delay>1</delay>
                <tds_active>always</tds_active>
                <cards>
                    <CB>
                        <label>CB</label>
                        <image>images/sfco/cb.45.png</image>
                        <payment>LIMONETIK</payment>
                        <card>SOF3X</card>
                    </CB>
                </cards>
            </sfco_s3xcb>
            <sfco_s3xcbsf>
                <active>0</active>
                <model>Sofinco\Epayment\Model\Payment\S3xcbsf</model>
                <title>3XCB sans frais</title>
                <group>sfco</group>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_use_for_multishipping>1</can_use_for_multishipping>
                <allowspecific>0</allowspecific>
                <cctypes>CB,VISA,EUROCARD_MASTERCARD,E_CARD</cctypes>
                <status_paid>sfco_paid</status_paid>
                <status_authorized>sfco_authorized</status_authorized>
                <payment_action>immediate</payment_action>
                <delay>1</delay>
                <tds_active>always</tds_active>
                <cards>
                    <CB>
                        <label>CB</label>
                        <image>images/sfco/cb.45.png</image>
                        <payment>LIMONETIK</payment>
                        <card>SOF3XSF</card>
                    </CB>
                </cards>
            </sfco_s3xcbsf>
        </payment>
    </default>
</config>
